* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}
h2, p {
    text-align: center;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
section {
	min-height: 400px;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  
}
.header-left a {
    line-height: 60px;
    color: cornsilk;
    font-size: 25px;
}
.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  margin-top: 50px;
  height: 500px;
  background-image: url(img/DTS.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.top-wrapper img {
    height: 200px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 42%;
    
}

.about p {
    text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 400px;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 20px; 
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
    height: 200px;
    width: 100%;
}

